argparse
colored
matplotlib
transformers
openai-whisper
onnx
onnx-tf
onnx_graphsurgeon
onnx2keras
onnxruntime
onnxscript
psutil
pytest
sng4onnx
tensorflow == 2.16.1
tensorflow_io
tensorflow_probability
tf_keras