[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
colored = "*"
matplotlib = "*"
transformers = "*"
openai-whisper = "*"
onnx = "*"
onnx-tf = "*"
onnx-graphsurgeon = "*"
onnx2keras = "*"
onnxruntime = "*"
onnxscript = "*"
psutil = "*"
pytest = "*"
sng4onnx = "*"
tensorflow = "==2.16.1"
tensorflow-io = "*"
tensorflow-probability = "*"
tf-keras = "*"

[dev-packages]

[requires]
python_version = "3.11"
