name: create tflite

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
        cache: "pip"
        
    - name: Install dependencies
      run: |
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    
    - name: create artefacts
      run: |
        python3 -m whisper_tflite

    - name: test
      run: |
        python whisper_tflite/test.py --skip_plot True

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: whisper.tflite
        path: artefacts